<% layout("/layouts/boilerplate") -%>
<div class="row">
  <div class="col-8 offset-2 mt-3">
    <h3><b>Create a New Listing</b></h3>
    <br />

    <form
      method="POST"
      action="/listings"
      novalidate
      class="row g-2 needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="enter title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please enter a title here!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Description looks good!</div>
        <div class="invalid-feedback">Please write a short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          name="listing[image]"
          placeholder="enter image URL/Link"
          type="file"
          class="form-control"
          required
        />
        <div class="valid-feedback">Image is added.</div>
        <div class="invalid-feedback">Please add an Image here!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4 price">
          <label for="price" class="form-label">Price ( 24 Hours Stay )</label>
          <input
            name="listing[price]"
            placeholder="enter price"
            class="form-control" 
            type="number"
            required
          />
          <div class="valid-feedback">Price looks good!</div>
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8 country">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="enter country"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country name looks good!</div>
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Location looks good!</div>
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="btn btn-dark add-btn mt-2 add">Add</button>
    </form>
  </div>
</div>
