<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <h2 class="col-5 offset-3 mt-3 mb-4 "><b>Login on <span class="wanderlust">Wanderlust</span></b></h2>
  <div class="col-5 offset-3">
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Username looks good!</div>
        <div class="invalid-feedback">Please enter a username here!</div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            class="form-control"
            required
          />
          <div class="valid-feedback">Password looks good!</div>
          <div class="invalid-feedback">
            Please enter a strong password here!
          </div>
        </div>

        <button class="btn btn-success loginBtn mt-2">Login</button>
      </div>
    </form>
  </div>
</div>
